<div class="container-fluid">
<h1 class="mt-4 text-center">Our Products</h1>
<div class="d-flex justify-content-end">
  <input type="text" id="search" placeholder="Search" class="form-control m-3 bg-light w-25 text-center"
  (input)="filterProduct()" [(ngModel)]='productName'>
</div>
<div class="row mt-3 px-5">
  @for (product of filterList; track $index) {
    <div class="col-md-3 mb-1 pb-lg-4">
      <app-product-card [product]="product" (myEvent)="decreaseQuantity(product)"></app-product-card>
    </div>
  }
</div>
</div>


