<section class="container-fluid py-5 text-center text-white">
  <h2 class="fw-bold mb-4 text-uppercase">Category</h2>
  <div class="row g-4">
    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <img src="c1.png" class="mb-2" width="85" alt="">
      <p>Design & Arts</p>
    </div>
    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <img src="c2.png" class="mb-2" width="85" alt="">
      <p>Web Development</p>
    </div>
    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <img src="c3.png" class="mb-2" width="85" alt="">
      <p>SEO Marketing</p>
    </div>
    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <img src="c4.png" class="mb-2" width="85" alt="">
      <p>Video Editing</p>
    </div>
    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <img src="c5.png" class="mb-2" width="85" alt="">
      <p>Logo Design</p>
    </div>
    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <img src="c6.png" class="mb-2" width="85" alt="">
      <p>Game Design</p>
    </div>
  </div>
</section>
