<nav class="navbar navbar-expand-lg">
    <div class="container nav-container">
      <a class="navbar-brand" href="#">Spering</a>

      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav d-flex flex-row justify-content-between w-100 text-center">
          <li class="nav-item flex-fill">
            <a class="nav-link" href="#" (click)="goTo('home')">Home</a>
          </li>
          <li class="nav-item flex-fill">
            <a class="nav-link" href="#" (click)="goTo('products')">Products</a>
          </li>
          <li class="nav-item flex-fill">
            <a class="nav-link" href="#" (click)="goTo('movies')">Movies</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
