 .navbar {
      background-color: #1A2E35;
    }
    .navbar-brand {
      font-weight: bold;
      font-size: 1.5rem;
      color: #fff !important;
    }
    .nav-link {
      color: #fff !important;
      transition: 0.3s;
      padding: 0 1rem;
    }
    .nav-link:hover {
      color: #FF515E !important;
    }
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
